.App {
  text-align: center;
}

.clickabletext {
  color:rgb(0, 136, 255);
  text-decoration: underline;
  cursor: pointer;
}

.loginform {
  border-style: solid;
  border-radius: 10px; 
  border-width: 0px;
  border-color:green;
  padding: 1% 0;
  width: auto;
  max-width: 20%;
  min-width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color:rgb(245, 244, 244);
}

input[type=text], input[type=password], button {
  border-radius: 4px;
  margin: 10px 10px;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
}

button {
  background-color: rgb(7, 189, 7);
  border: 0px;
}

input[type=text], input[type=password] {
  border: 2px solid rgb(185, 185, 185);
}